html, #root {
  min-height: 100vh;
  font-family: 'Work Sans', sans-serif;
}

#root {
  background-color: rgba(134, 184, 23, 0.3)
}

h1 {
  font-family: 'Karla', sans-serif;
}

h2 {
  color: var(--bs-primary)
}

ul {
  list-style: none;
}

main {
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  height: 2rem;
}